/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.display_none{display:none;}
.info-mob .storename {
    margin: 0px;
    display: inline-block;
}
.widgettitle {
	font-size: 26px;
}
.locationInfo .storename li .address a:hover p, .locationInfo .storename li .phone a:hover span{
    color: #494033!important;
}
.FloorteBtn .fl-callout-text a {
    color: #56728d !important;
}
.phone-number.footer .fl-rich-text, .phone-number.header .fl-rich-text{
	display: flex;	
	
}
.fl-slide-title {
	margin: 0px!important;
}
 .phone-number.header .fl-rich-text{
	    justify-content: flex-end;
}
.phone-number.footer .fl-rich-text > .storename,  .phone-number.header .fl-rich-text > .storename{
	margin-left: 10px;	
}
.phone-number.header .fl-rich-text > .storename a span{
	color: #000!important;	
}
.phone-number.header .fl-rich-text > .storename a:hover span{
	color: #9cd061!important;	
}
.phone-number.footer .fl-rich-text > .storename a span{
	color: #fff!important;	
}
.phone-number.footer .fl-rich-text > .storename a:hover span{
	color: #9cd061!important;	
}
.email-listBtnWrap .email-list-button {
    position: fixed;
    right: 0px;
    top: 200px;
    background: #fff;
    padding: 20px;
    background: url(images/emailList-Icon.jpg)no-repeat;
}
.email-listBtnWrap .email-list-button a{
    color: #f73141;
    position: fixed;
    right: 0px;
    top: 200px;
    background: #fff;
    padding: 15px 15px 15px 55px;
    max-width: 220px;
}
header a:hover,
header .phone-number .fl-rich-text a:hover,
footer a:hover,
footer .phone-number .fl-rich-text a:hover {
    color: #9cd061 !important;
}
.storename .direction .fl-button {
	max-width: 240px;
    width: 100%;
    text-align: center;
}
.gform_wrapper .gform_footer input[type=submit],
.gform_footer .gform_button {
    padding: 12px 24px !important;
    letter-spacing: 2px;
    border-color: transparent !important;
}

.top-bar-nav ul#menu-top-bar-menu li a,
.top-bar-nav ul#menu-top-bar-menu li a *,
.fl-page-bar-text font span {
    font-size: 14px !important;
}

.gform_footer .gform_button {
    background: #9cd061 !important;
    padding: 10px 20px !important;
    border-radius: 0 !important;
}

.gform_footer .gform_button:hover {
    background: #494033 !important;
}

.fl-page-bar a *,
.fl-page-bar a *:hover {
    color: #fff !important;
    font-size: 14px;
}

.icon-heading-wrap .uabb-module-content.uabb-infobox {
    max-width: 80% !important;
    margin: 0 auto !important;
    padding: 20px 50px !important;
}

div.searchIcon {
    position: relative !important;
}

div.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #9cd061;
}

.searchIcon .fl-icon .ua-icon-search {
    cursor: pointer;
}

.slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-2x {
    font-size: 18px !important;
    vertical-align: text-bottom !important;
}

.Floorvan_form a {
    color: #56728d!important;
}


/*footer .iPadFooter.fl-row-bg-color   .fl-row-content-wrap{
    background-color: #56728d;
}*/

ul.social-icons li a:hover i {
    color: #56728d;
}

.privacy-policy-row .storename,
.privacy-policy-row .phone {
    display: inline-block
}

#menu-item-507185 .storename li .phone span::before,
#responsive-menu-additional-content .storename .phone a span::before {
    content: "\f095"!important;
    font: normal normal normal 14px/1 FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 5px;
	font-size: 20px!important;
}
#responsive-menu-additional-content .storename .phone a span{
	color: #fff!important;
    margin-bottom: 20px!important;
}
#responsive-menu-additional-content .storename .phone a:hover span{
	color: #9cd061!important;
}
#responsive-menu-additional-content .storename {
	color: #fff!important;
    margin-bottom: 20px!important;
}

.ui-datepicker-title select {
    color: #414042;
}

.fl-page-bar-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-none .fl-heading span {
    font-size: 0px !important;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}

.gform_wrapper .gfield_time_hour input,
.gform_wrapper .gfield_time_minute input {
    width: calc(5rem + 8px) !important;
}

.gform_wrapper .gfield_time_hour i {
    margin-right: -25px;
}

.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    margin: 1px 0 9px 13px !important;
}

body .gform_wrapper .top_label div.ginput_container.ginput_container_time {
    margin-right: 30px !important;
}

.fullWidthBanner img {
    width: 100%;
}

.phone>a {
    font-weight: 400;
    color: #3b5267;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.gform_wrapper .gfield_checkbox li input,
.gform_wrapper .gfield_checkbox li input[type=checkbox] {
    margin-top: 0px!important;
}

.gform_wrapper ul.gform_fields li.gfield select {
    padding: 14px 5px!important;
    min-width: 60px;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: -2px!important;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}

.fl-page-bar-row .fl-page-bar-text-2 {
    padding: 10px 0 0 0;
}

.fl-page-bar-row .fl-page-bar-text-2 a {
    font-size: 16px;
}

.fl-page-bar-row .fl-page-bar-text-2 i {
    font-size: 18px;
    margin-right: 5px;
    vertical-align: -3px;
}

.fl-page-bar-nav .menu-item .storename li .phone a:before {
    content: "\f095";
    font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    margin: 2px 5px 0 0px;
    font-weight: 400;
    font-size: 18px;
}

#product-images-holder.colorwall-exlusive-batch .popup-imgs-holder .main-imgs {
    max-height: 456px;
}
#rmp-menu-additional-content-1148743 {
    text-align: left!important;
}
#rmp-menu-additional-content-1148743 a {

    color: #f9f9f8;
}
/*Filter Select Design*/
.facetwp-selections ul:before {
    content: "Your Selection";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #9cd061;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #9cd061;
    padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label{
    font-size: 14px;
    font-weight: 700;
}

.facetwp-selections ul li .facetwp-selection-value{
	font-size: 14px;
}

.facetwp-selections ul {
    padding-left: 0px;
    margin-bottom: 20px;
}
@media(min-width:1024px) {
    .fl-page-bar .fl-page-bar-nav>li>a {
        padding: 2px 60px!important;
    }
	div#cabinet_brand_slider .uabb-image-carousel img {
		max-height: 80px;
		min-height: 80px;
		object-fit: contain;
	}
}

@media(max-width:1024px) {
	.phone-number.footer .fl-rich-text, .phone-number.header .fl-rich-text {
		display: flex;
		flex-direction: column;
	}
	.phone-number.footer .fl-rich-text .storename {
		margin-left: 0px!important;
	}
	.ipadLandHide {
		display: none!important;	
	}
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .headerMain .headerRightNav {
        margin-left: 30px;
    }
    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
}

@media (min-width: 768px) {
    .fl-page-bar .text-right .fl-page-bar-nav {
        text-align: center;
    }
}

@media(max-width:992px) {
	ul.social-icons {
		text-align: center;
	}
	ul#menu-flooring-menu > li {
		text-align: center;
	}
	.max400 img{
		max-width: 400px!important;
		width: 100%!important;
		display: block;
		margin: 0 auto!important;
	}
	.max400.m20 .fl-module-content{
		margin: 20px!important;
	}
	.max400.m20.ipadM0 .fl-module-content{
		margin: 0px!important;
	}
    /* .searchIcon {
        position: absolute;
    } */
    /* button#responsive-menu-button {
        top: 0 !important;
    } */
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0 !important;
    }
    #responsive-menu-container #responsive-menu-search-box,
    #responsive-menu-container #responsive-menu-additional-content,
    #responsive-menu-container #responsive-menu-title {
        padding: 10px 5% !important;
    }
    .fl-page-header-logo {
        text-align: left;
    }
    .fl-page-nav-right .fl-page-nav-wrap {
        display: none;
    }
    .headerMain .fl-col-group {
        display: flex;
        align-items: center;
    }
    .headerMain .headerRightNav {
        margin: 0;
    }
    .headerMain .headerLogo {
        flex: 2;
    }
    .w-100 {
        width: 100%;
    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #3b5267;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .headerMain .phone.retailer:before {
        content: "\ea3e";
    }
    .headerMain .phone.retailer span {
        font-size: 0;
    }
    .iPadFooter .fl-col-group {
        display: flex;
    }
    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }
    ul#menu-copyright-bar-menu {
        display: flex;
        justify-content: center;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .max-width-issue {
        max-width: 400px !important;
        margin: 0 auto !important;
    }
    .MeetTheTeam-Row .fl-separator {
        margin: 0 auto;
    }
    .MeetTheTeam-Row .fl-rich-text {
        text-align: center;
    }
    .flooring-row .fl-col.fl-col-small {
        margin-bottom: 5px;
    }
    footer .fl-module-heading h2.fl-heading, footer .fl-widget, footer .fl-widget ul.menu, footer .fl-module.fl-module-icon, footer .fl-module-content.fl-node-content .fl-rich-text {
        text-align: center !important;
    }
	.phone-number.footer .fl-rich-text, .phone-number.header .fl-rich-text {
		display: flex;
		justify-content: center;
	}
}

@media(max-width:767px) {
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    button#responsive-menu-button {
        top: 110px !important;
    }
    .fl-page-bar-text font,
    .top-bar-nav ul#menu-top-bar-menu li a,
    .top-bar-nav ul#menu-top-bar-menu li a * {
        font-size: 12px !important;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text>p {
        margin-bottom: 0;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle {
        display: none !important;
    }
    #responsive-menu-container #responsive-menu-additional-content,
    #responsive-menu-container #responsive-menu-title,
    #responsive-menu-container #responsive-menu-search-box {
        padding: 10px 5% !important;
    }
    #responsive-menu-additional-content .storename li .phone span::before {
        content: "\f095"!important;
		font: normal normal normal 14px/1 FontAwesome;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		text-decoration: inherit;
		margin-right: 5px;
		font-size: 20px!important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0 !important;
    }
    button#responsive-menu-button {
        z-index: 99999 !important;
    }
    #menu-about-us,
    #menu-inspiration-menu,
    #menu-flooring-menu {
        text-align: left !important;
    }
}

@media (max-width: 604px) {
	.max400.m20.ipadM0 .fl-module-content{
		margin: 20px!important;
	}
h1, h2, h3 {
    font-size: 30px!important;
}
.fl-module-heading h2.fl-heading {
    font-size: 30px;
}

    button#responsive-menu-button {
        top: 92px !important;
    }
    .top-bar-nav ul#menu-top-bar-menu li a,
    .top-bar-nav ul#menu-top-bar-menu li a * {
        line-height: 1.5 !important;
    }
    .uabb-masonary .uabb-masonary-item {
        width: 100% !important;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 64% !important;
    }
	#rmp_menu_trigger-1148743 {
		top: 25px!important;
	}
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
    /* Slider height issue on mobile open */
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
    .fl-content-slider .fl-slide-bg-link{
        z-index: 2;
    }
    /* Slider height issue on mobile closed */
    
	/* Facet Filter CSS	- iPad */
	.facet_filters .close_bar {
        display:block;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100%!important;
        text-align: center
    }
    #product-list-top-filters .fl-heading,.facetwp-counts,.facetwp-pager,.facetwp-per-page,.open_sidebar {
        text-align: center!important
    }
    .facetwp-per-page-select {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
	.open_sidebar a {
		float: none!important;
	}
	.facet_filters {
        position:fixed;
        top:0px;
        left:-5px;
        width:80%;
        height:100%;
        overflow:auto;
        background-color:white;
        z-index:10;
        left:-1000px;
        -moz-box-shadow:    5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow:         5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar {
        background-color:#008c8c;
        overflow:hidden;
        width:100%;
        padding:5px;
        display:block;
        margin-bottom:20px;
    }
    .facet_filters .close_bar .close{
        float:right;
        color:white;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    	filter: alpha(opacity=100);
    	opacity: 1;
    }
    .open_sidebar,
    .close_sidebar_button{
        display:block;
    }
	.facetwp-pager {
        float: none!important;
        margin-top: 10px
    }
	/* Products List CSS - iPad */
	.facetwp-template .product-grid .product-row>.col-md-4 {
        width:33.33%;
        float: left;
        clear: none!important
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: left!important
    }
    .product-row>div.col-md-3:nth-child(3n+1) {
        clear: none!important
    }
}
@media only screen and (max-width: 599px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
        width:48%;
        clear: none !important
    }
	.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
		clear: none !important;
	}
}
@media only screen and (max-width: 480px) {
	.facetwp-template .product-grid .product-row>.col-md-4{
		width:100%;
		clear: both !important
	}
    
}
/* PLP Page Css iPad Air */
@media(max-width:480px) {
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button {
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next {
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev {
        left: 20px;
    }
    .iPadFooter .fl-col-group {
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col {
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu {
        justify-content: center;
        display: block;
    }
}

@media (max-width: 414px) {
    button#responsive-menu-button {
        top: 88px !important;
    }
    .fa-2x {
        font-size: 16px !important;
    }
}

@media(max-width:379px) {
    .top-bar-nav .fl-page-bar-nav>li>a {
        padding: 2px 5px;
    }
    .fl-page-bar-row .col-md-6.text-right {
        padding-left: 5px;
    }
    .fl-page-bar-row .col-md-6.text-left {
        padding-right: 5px;
    }
    .fl-page-bar-text font,
    .top-bar-nav ul#menu-top-bar-menu li a,
    .top-bar-nav ul#menu-top-bar-menu li a * {
        font-size: 11px !important;
    }
    button#responsive-menu-button {
        top: 80px !important;
    }
}

@media(max-width:374px) {
    .fl-page-bar {
        display: none;
    }
    button#responsive-menu-button {
        top: 15px !important;
    }
}
.full-width-img .uabb-image-content,
.full-width-img .uabb-image-content img {
    width: 100%;
}
/* Home Page Slide 1 - 100% */
.fl-slide.fl-slide-0 .fl-slide-foreground{
	max-width: 100%;
}

.phoneWrap {
    display: flex;
}
.phoneWrap .storename {
    list-style: none;
    padding-left: 10px;
}


/* Slider height issue on mobile */
@media(max-width: 992px) {
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 700px!important;
    }
	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
		min-height: 700px;
	}
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 700px!important;
        text-align: center!important;
        vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
		max-height: 700px!important;
		width: auto;
		margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 700px !important;
		max-height: 700px !important;
    }
	.product-attributes table {
		table-layout: fixed!important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}	
	
	
	.footerMainWrapperForMob .fl-col-small:not(.fl-col-small-full-width) {width: 100% !important;flex: unset;max-width: 100%;}
}